@import 'values';

.container-fluid{
  background-color:#009900;
  width:100%;
}
.row{
  background:none;
  padding:0 30px;
}
@media screen and (max-width: 768px) {
      .row{
        padding:0;
  }
}

#notes{
  padding-right:20px;
  p{
  margin-top:30px;
  }
}

#img{
  text-align:right; 
  padding-left:20px; 
  span{
    margin-top:30px;
  }
}

