@import 'values';

body{
	background-color:$bg;
	p{
	font-size:24px;
	color:#000;
	}
}
h1{
	/*font-family: 'Sancreek', cursive;*/
	font-family:$ffam;
	font-size:80px;
	color:#000;
}
h2{
	font-family:$ffam;
	font-size:40px;
	color:#000;
	margin-top:50px;
}
.dates{
	font-family:$ffam;
	font-size:24px;
	color:#000;
	display:inline-block;
	padding:0;
	margin:0;
}